<div class="w-full">
  <form [formGroup]="form" class="w-full flex flex-col items-center justify-center">
    <div class="mt-5">
      <h1 class="m-0">Filtros</h1>
    </div>

    <div class="h-[calc(100vh-170px)] w-full overflow-auto p-5 flex flex-col justify-start items-center">

      <!-- Buscar SOLO MOVIL -->
      <mat-form-field *ngIf="isPhone"  color="primary" appearance="fill" class="w-full rounded-[10px]">
                <span matPrefix>
                  <i class="bi bi-search text-white text-2xl mx-2"></i>
                </span>
        <input
          matInput
          placeholder="Buscar..."
          formControlName="search"
          class="w-full"
        />
      </mat-form-field>

      <!-- Ordenar -->
      <mat-form-field class="w-full">
        <mat-label>Ordenar</mat-label>
        <mat-select formControlName="order">
          <mat-option value="rating__asc"><i class="bi bi-sort-up"></i> Por nota </mat-option>
          <mat-option value="rating__desc"><i class="bi bi-sort-down"></i> Por nota</mat-option>

          <mat-option value="name__asc"><i class="bi bi-sort-up"></i> Por nombre </mat-option>
          <mat-option value="name__desc"><i class="bi bi-sort-down"></i> Por nombre</mat-option>

          <mat-option value="first_release_date__asc"><i class="bi bi-sort-up"></i> Por fecha </mat-option>
          <mat-option value="first_release_date__desc"><i class="bi bi-sort-down"></i> Por fecha </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Plataformas -->
      <mat-form-field class="w-full">
        <mat-label>Plataformas</mat-label>
        <input
          type="text"
          matInput
          [formControl]="platformsControl"
          [matAutocomplete]="autoPlatforms"
        >
        <mat-autocomplete #autoPlatforms="matAutocomplete" (optionSelected)="addPlatform($event.option.value)">
          <mat-option *ngFor="let option of filteredPlatforms | async" [value]="option">
            <i [ngClass]="'bi bi-' + getPlatformIcon(option.id)" class="text-lg mr-2.5"></i>
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div *ngIf="platformsFormArray.controls.length > 0" class="w-[300px] flex justify-center items-center flex-wrap gap-2.5 mb-5">
        <mat-chip-row *ngFor="let platform of platformsFormArray.controls; let i = index" (removed)="removePlatform(i)">
          {{ platform.value.name }}
          <button matChipRemove [attr.aria-label]="'remove template form' + platform.value.id">
            <i class="bi bi-trash3"></i>
          </button>
        </mat-chip-row>
      </div>

      <!-- Géneros -->
      <mat-form-field class="w-full">
        <mat-label>Generos</mat-label>
        <input
          type="text"
          matInput
          [formControl]="genresControl"
          [matAutocomplete]="autoGenres"
        >
        <mat-autocomplete #autoGenres="matAutocomplete" (optionSelected)="addGenre($event.option.value)">
          <mat-option *ngFor="let option of filteredGenres | async" [value]="option">
            <i [ngClass]="'bi bi-' + getGenreIcon(option.id)" class="text-lg mr-2.5"></i>
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div *ngIf="genresFormArray.controls.length > 0" class="w-[300px] flex justify-center items-center flex-wrap gap-2.5 mb-5">
        <mat-chip-row *ngFor="let genre of genresFormArray.controls; let i = index" (removed)="removeGenre(i)">
          {{ genre.value.name }}
          <button matChipRemove [attr.aria-label]="'remove template form' + genre.value.id">
            <i class="bi bi-trash3"></i>
          </button>
        </mat-chip-row>
      </div>

      <!-- Nota -->
      <div class="w-full flex flex-col justify-center items-center">
        <label class="text-start w-full">Nota: </label>
        <mat-slider class="w-full" min="0" max="10" step="1" showTickMarks discrete>
          <input formControlName="minRate" value="0" matSliderStartThumb>
          <input formControlName="maxRate" value="10" matSliderEndThumb>
        </mat-slider>
      </div>

    </div>

    <!-- Botón Filtrar -->
    <div class="mt-5 w-[calc(100%-20px)]">
      <button (click)="filter()" color="primary" mat-raised-button class="w-full rounded-[10px]">
        Filtrar
      </button>
    </div>

  </form>
</div>
