<div
  style="position: relative; width: 100%;  overflow: hidden; margin: auto; border-radius: 10px; height: 250px;"
>
  <!-- Contenedor de slides -->
  <div
    style="display: flex; gap: 10px; height: 100%; transition: transform 0.5s ease;"
    [style.transform]="'translateX(-' + (currentIndex * (100 / visibleSlides)) + '%)'"
  >
    <div
      *ngFor="let video of videos"
      [ngStyle]="{
    flex: '0 0 calc((100% /  ' + visibleSlides + ') - 10px)',
    height: '100%',
    display: 'flex',
    'justify-content': 'center',
    'align-items': 'center'
  }"
    >
      <iframe
        width="100%"
        height="100%"
        [src]="getSafeUrl(video.video_id)"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="border-radius: 10px;"
      ></iframe>
    </div>
  </div>

  <!-- Botones -->
  <button
    (click)="prevSlide()"
    style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%); background: rgba(0,0,0,0.5); color: white; border: none; border-radius: 50%; width: 40px; height: 40px; cursor: pointer; font-size: 24px; line-height: 36px;"
  >
    ‹
  </button>

  <button
    (click)="nextSlide()"
    style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); background: rgba(0,0,0,0.5); color: white; border: none; border-radius: 50%; width: 40px; height: 40px; cursor: pointer; font-size: 24px; line-height: 36px;"
  >
    ›
  </button>
</div>
