<app-container>

  <div
    style="display: flex; flex-direction: column; align-items: center; justify-content: center; ">
    <div
      style="width: calc(60vh - 60px); ">
      <div style="width: 100%; height: 100%">
        <div
          style="background-color: #1a1d20; border-radius: 5px; padding: 20px; box-shadow: 3px 3px 6px rgba(0,0,0,0.5);">
          <div style="text-align: center; padding-right: 20px; padding-left: 20px">
            <h2 class="text-primary" style="color: white; margin: 0">Mi perfil</h2>
          </div>

          <form [formGroup]="formProfile"
                style="background-color: var(--background-four); border: 2px transparent solid; border-radius: 5px; margin-top: 20px">

            <div>

              <div style=" display: flex; justify-content: center; align-items: center">
                <div style="width: fit-content; display: flex; justify-content: center; align-items: end">
                  <div
                    style="width: 150px; height: 150px; overflow: hidden; border-radius: 50%; margin: 0 auto; border: 1px transparent solid">
                    <img *ngIf="this.previewCoverImage" src="{{ this.previewCoverImage }}" alt="No Image"
                         style="width: 100%; height: 100%; object-fit: cover; object-position: center;">

                    <img *ngIf="!this.previewCoverImage"
                         src="{{'http://localhost:3000/uploads/No_Image_Available.jpg'}}"
                         style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
                  </div>
                  <input
                    type="file"
                    accept="image/*"
                    #fileInput
                    hidden
                    (change)="onImageChange($event)"
                  />

                  <!-- Botón que abre el selector -->
                  <button
                    type="button" mat-raised-button color="primary"
                    (click)="fileInput.click()"
                    style="margin-left: -50px; border-radius: 10px; width:50px; height: 50px; display: flex; justify-content: center; align-items: center;  "

                  >
                    <div>
                      <i class="bi bi-pencil" style="width: 50px; height: 50px"></i>
                    </div>

                  </button>
                </div>

              </div>

              <div style="margin-top: 20px">
                <div style="display: flex; justify-items: center; align-items: center; gap:10px">
                  <mat-form-field color="primary"
                                  style="border-radius: 10px; width: calc(100% );"
                  >
                    <mat-label>Nombre</mat-label>
                    <span matPrefix>
                  <i class="bi bi-person-circle" style="font-size: 24px; color: white; margin-left: 10px; margin-right: 10px"></i>
                </span>
                    <input formControlName="name" style=";width: 100%; " matInput placeholder="Introduzca su nombre..."
                    >
                  </mat-form-field>

                  <mat-form-field color="primary"
                                  style="border-radius: 10px; width: calc(100% );"
                  >
                    <mat-label>Apellidos</mat-label>

                    <input formControlName="cognames" style=";width: 100%; " matInput placeholder="Introduzca su apellido..."
                    >
                  </mat-form-field>
                </div>

                <mat-form-field color="primary"
                                style="border-radius: 10px; width: calc(100% );"
                >
                  <mat-label>Telefono</mat-label>
                  <span matPrefix>
                  <i class="bi bi-phone" style="font-size: 24px; color: white; margin-left: 10px; margin-right: 10px"></i>
                </span>
                  <input formControlName="tlf" style=";width: 100%; " matInput placeholder="Introduzca su número de teléfono..."
                  >
                </mat-form-field>
              </div>
            </div>
            <div style="  display: flex; justify-content: space-between; align-items: center;">
              <div style="width: 100%; display: flex; justify-content: end; align-items: center">
                <button mat-raised-button (click)="updateProfile()" color="primary"
                        style=" padding-right: 16px; height: 40px; color: white; border-radius: 10px;"
                        >
                  <i class="bi bi-pencil" style="margin-right: 4px"></i>Actualizar perfil
                </button>
              </div>

            </div>

          </form>
        </div>


        <div
          style="background-color: #1a1d20; border-radius: 5px; padding: 20px; box-shadow: 3px 3px 6px rgba(0,0,0,0.5); margin-top: 20px; margin-bottom: 20px">
          <form [formGroup]="formPassword">
            <div style="text-align: center; padding-right: 20px; padding-left: 20px; margin-bottom: 20px">
              <h2 class="text-primary" style="color: white; margin: 0">Cambiar mi contraseña</h2>
            </div>

            <mat-form-field color="primary"
                            style="border-radius: 10px; width: calc(100% );"
            >
              <mat-label>Contraseña</mat-label>
              <span matPrefix>
                  <i class="bi bi-lock" style="font-size: 24px; color: white; margin-left: 10px; margin-right: 10px"></i>
                </span>
              <input formControlName="password" style=";width: 100%; " matInput placeholder="Introduzca su nueva contraseña..."
              >
            </mat-form-field>

            <mat-form-field color="primary"
                            style="border-radius: 10px; width: calc(100% );"
            >
              <mat-label>Repetir contraseña</mat-label>
              <span matPrefix>
                  <i class="bi bi-lock" style="font-size: 24px; color: white; margin-left: 10px; margin-right: 10px"></i>
                </span>
              <input formControlName="repeatPassword" style=";width: 100%; " matInput placeholder="Introduzca de nuevo su nueva contraseña..."
              >
            </mat-form-field>


            <div style=" display: flex; justify-content: space-between; align-items: center;">
              <div style="width: 100%">
              </div>
              <div style="width: 100%; display: flex; justify-content: end; align-items: center">
                <button (click)="updatePassword()"
                        mat-raised-button
                        color="primary"
                        style="padding-left: 16px; padding-right: 16px; border-radius: 10px;"
                       >
                  <i class="bi bi-pencil" style="margin-right: 4px"></i>Actualizar contraseña
                </button>
              </div>

            </div>
          </form>
        </div>

      </div>
    </div>

  </div>


</app-container>
