<app-container>

  <div class="flex flex-col items-center justify-center w-full">
    <div class="w-[calc(60vh-60px)]">
      <div class="w-full h-full space-y-5">

        <!-- Perfil -->
        <div class="bg-[#1a1d20] rounded-md p-5 shadow-lg">
          <div class="text-center px-5">
            <h2 class="text-white text-xl font-bold m-0">Mi perfil</h2>
          </div>

          <form [formGroup]="formProfile" class="bg-[var(--background-four)] border-2 border-transparent rounded-md mt-5 p-4 ">

            <!-- Avatar -->
            <div class="flex justify-center items-center mb-5">
              <div class="w-fit flex justify-center items-end relative">
                <div class="w-36 h-36 overflow-hidden rounded-full mx-auto border border-transparent">
                  <img *ngIf="previewCoverImage" [src]="previewCoverImage" alt="No Image"
                       class="w-full h-full object-cover object-center">
                  <img *ngIf="!previewCoverImage" src="http://localhost:3000/uploads/No_Image_Available.jpg"
                       class="w-full h-full object-cover object-center">
                </div>

                <div class="absolute -right-2">
                  <!-- Botón para cambiar imagen -->
                  <input type="file" accept="image/*" #fileInput hidden (change)="onImageChange($event)" />
                  <button type="button" mat-raised-button color="primary"
                          (click)="fileInput.click()"
                          class="w-12 h-12 rounded-full flex justify-center items-center">
                    <i class="bi bi-pencil text-xl"></i>
                  </button>
                </div>

              </div>
            </div>

            <!-- Campos de perfil -->
            <div class="">
              <div class="flex gap-4">
                <mat-form-field color="primary" class="flex-1 rounded-lg w-full">
                  <mat-label>Nombre</mat-label>
                  <span matPrefix>
                    <i class="bi bi-person-circle text-white text-xl mx-2"></i>
                  </span>
                  <input formControlName="name" matInput placeholder="Introduzca su nombre..." class="w-full">
                </mat-form-field>

                <mat-form-field color="primary" class="flex-1 rounded-lg w-full">
                  <mat-label>Apellidos</mat-label>
                  <input formControlName="cognames" matInput placeholder="Introduzca su apellido..." class="w-full">
                </mat-form-field>
              </div>

              <mat-form-field color="primary" class="w-full rounded-lg">
                <mat-label>Teléfono</mat-label>
                <span matPrefix>
                  <i class="bi bi-phone text-white text-xl mx-2"></i>
                </span>
                <input formControlName="tlf" matInput placeholder="Introduzca su número de teléfono..." class="w-full">
              </mat-form-field>
            </div>

            <!-- Botón actualizar perfil -->
            <div class="flex justify-end ">
              <button mat-raised-button color="primary" (click)="updateProfile()" class="flex items-center  px-4 py-2 rounded-lg">
                <i class="bi bi-pencil"></i>Actualizar perfil
              </button>
            </div>

          </form>
        </div>

        <!-- Cambiar contraseña -->
        <div class="bg-[#1a1d20] rounded-md p-5 shadow-lg">
          <form [formGroup]="formPassword" class="">
            <div class="text-center px-5 mb-5">
              <h2 class="text-white text-xl font-bold m-0">Cambiar mi contraseña</h2>
            </div>

            <mat-form-field color="primary" class="w-full rounded-lg">
              <mat-label>Contraseña</mat-label>
              <span matPrefix>
                <i class="bi bi-lock text-white text-xl mx-2"></i>
              </span>
              <input formControlName="password" matInput placeholder="Introduzca su nueva contraseña..." class="w-full">
            </mat-form-field>

            <mat-form-field color="primary" class="w-full rounded-lg">
              <mat-label>Repetir contraseña</mat-label>
              <span matPrefix>
                <i class="bi bi-lock text-white text-xl mx-2"></i>
              </span>
              <input formControlName="repeatPassword" matInput placeholder="Introduzca de nuevo su nueva contraseña..." class="w-full">
            </mat-form-field>

            <div class="flex justify-end ">
              <button mat-raised-button color="primary" (click)="updatePassword()" class="flex items-center  px-4 py-2 rounded-lg">
                <i class="bi bi-pencil"></i>Actualizar contraseña
              </button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>

</app-container>
