.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;          /* debajo del modal pero encima del drawer */
  pointer-events: auto;  /* obligatorio para recibir clicks */
}

.modal {
  background: rgb(66,66,66);
  padding: 1rem;
  border-radius: 8px;
  z-index: 1000;
  pointer-events: auto; /* para interactuar con su contenido */
}

:host {
  pointer-events: none;  /* todo fuera del modal no recibe clics */
}

.modal-backdrop, .modal {
  pointer-events: auto;  /* solo el modal y backdrop reciben clics */
}
