<app-container>
  <div class="flex flex-col items-center justify-center">
    <div class="w-[calc(60vh-60px)]">
      <div class="w-full h-full">
        <div class="bg-[#1a1d20] rounded-[5px] p-5 shadow-[3px_3px_6px_rgba(0,0,0,0.5)]">

          <div class="text-center px-5">
            <h1 class="text-white m-0 text-primary">Contactar</h1>
          </div>

          <form
            [formGroup]="form"
            class="bg-[var(--background-four)] border-2 border-transparent rounded-[5px] "
          >

            <div class="mt-5">
              <div class="flex justify-center items-center gap-2.5">

                <!-- Nombre -->
                <mat-form-field color="primary" class="rounded-[10px] w-full">
                  <mat-label>Nombre</mat-label>
                  <span matPrefix>
                    <i class="bi bi-person-circle text-white text-2xl mx-2.5"></i>
                  </span>
                  <input
                    formControlName="name"
                    matInput
                    placeholder="Introduzca su nombre..."
                    class="w-full"
                  >
                </mat-form-field>

                <!-- Apellidos -->
                <mat-form-field color="primary" class="rounded-[10px] w-full">
                  <mat-label>Apellidos</mat-label>
                  <input
                    formControlName="cognames"
                    matInput
                    placeholder="Introduzca su apellido..."
                    class="w-full"
                  >
                </mat-form-field>

              </div>

              <!-- Mensaje -->
              <mat-form-field class="w-full ">
                <mat-label>Mensaje</mat-label>
                <textarea
                  formControlName="message"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="20"
                  class="w-full"
                ></textarea>
              </mat-form-field>
            </div>

            <!-- Botón enviar -->
            <div class="flex justify-end  w-full">
              <button
                (click)="sendEmail()"
                mat-raised-button
                color="primary"
                class="flex items-center justify-center px-4 h-10 text-white rounded-[10px]"
              >
                <i class="bi bi-send mr-1"></i>Enviar
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</app-container>
