@import "tailwindcss";

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: lighter;
}

i {
  font-size: 20px;
}

/*body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  height: 100vh;*/
/*  font-family: Arial;*/
/*}*/

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/


