<app-container>

  <div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-[calc(60vh-100px)] overflow-auto bg-[#1a1d20] rounded-md p-5 shadow-lg">

      <!-- Título -->
      <div class="text-center px-5">
        <h2 class="text-white text-xl font-bold m-0">Registrarse</h2>
      </div>

      <!-- Formulario -->
      <form [formGroup]="form" class="bg-[var(--background-four)] border-2 border-transparent rounded-md p-4 ">

        <!-- Avatar -->
        <div class="flex justify-center items-center mb-5">
          <div class="w-fit flex justify-center items-end relative">
            <div class="w-36 h-36 overflow-hidden rounded-full mx-auto border border-transparent">
              <img *ngIf="previewCoverImage" [src]="previewCoverImage" alt="No Image"
                   class="w-full h-full object-cover object-center">
              <img *ngIf="!previewCoverImage" [src]="getLocalImage('No_Image_Available.jpg')"
                   class="w-full h-full object-cover object-center">
            </div>

            <div class="absolute -right-2">
              <input type="file" accept="image/*" #fileInput hidden (change)="onImageChange($event)" />
              <button type="button" (click)="fileInput.click()" mat-raised-button color="primary"
                      class=" w-12 h-12 flex justify-center items-center rounded-lg bg-primary text-white">
                <i class="bi bi-pencil text-xl"></i>
              </button>
            </div>

          </div>
        </div>

        <!-- Nombre y Apellidos -->
        <div class="flex gap-4">
          <mat-form-field color="primary" class="flex-1 w-full rounded-lg">
            <mat-label>Nombre</mat-label>
            <span matPrefix>
              <i class="bi bi-person-circle text-white text-xl mx-2"></i>
            </span>
            <input formControlName="name" matInput placeholder="Introduzca su nombre..." class="w-full">
          </mat-form-field>

          <mat-form-field color="primary" class="flex-1 w-full rounded-lg">
            <mat-label>Apellidos</mat-label>
            <input formControlName="subname" matInput placeholder="Introduzca su apellido..." class="w-full">
          </mat-form-field>
        </div>

        <!-- Email -->
        <mat-form-field color="primary" class="w-full rounded-lg">
          <mat-label>Email</mat-label>
          <span matPrefix>
            <i class="bi bi-envelope text-white text-xl mx-2"></i>
          </span>
          <input type="email" formControlName="email" matInput placeholder="Introduzca su correo..." class="w-full">
        </mat-form-field>

        <!-- Teléfono -->
        <mat-form-field color="primary" class="w-full rounded-lg">
          <mat-label>Teléfono</mat-label>
          <span matPrefix>
            <i class="bi bi-phone text-white text-xl mx-2"></i>
          </span>
          <input formControlName="phone" matInput placeholder="Introduzca su teléfono..." class="w-full">
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field color="primary" class="w-full rounded-lg">
          <mat-label>Contraseña</mat-label>
          <span matPrefix>
            <i class="bi bi-lock text-white text-xl mx-2"></i>
          </span>
          <input type="password" formControlName="password" matInput placeholder="Introduzca su contraseña..." class="w-full">
        </mat-form-field>

        <!-- Repetir Contraseña -->
        <mat-form-field color="primary" class="w-full rounded-lg">
          <mat-label>Repetir contraseña</mat-label>
          <span matPrefix>
            <i class="bi bi-lock text-white text-xl mx-2"></i>
          </span>
          <input type="password" formControlName="repeatPassword" matInput placeholder="Introduzca de nuevo su contraseña..." class="w-full">
        </mat-form-field>

        <!-- Botón registrar -->
        <div class="flex justify-end ">
          <button (click)="register()" mat-raised-button color="primary"
                  class="w-full flex justify-center items-center gap-2 px-4 py-2 rounded-lg">
            <span>Crear cuenta</span>
<!--            <i class="bi bi-person-plus"></i>-->
          </button>
        </div>

        <!-- Link login -->
        <div class="mt-10 w-full text-center">
          <span class="text-white text-sm">
            Si tienes cuenta puedes iniciar sesión pulsando
            <a [routerLink]="['/login']" class="text-white underline">aquí</a>
          </span>
        </div>

      </form>
    </div>
  </div>

</app-container>
